#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Exclude easy-rsa tool folder
easy-rsa/*

# exclude client vpn endpoint configuration file
client-config.ovpn
